<html>
  <head>
    {%load static%}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>О НАС</title>
    <link rel="icon" href="{% static "index/img/icon.png"%}">
    <link rel="stylesheet" type="text/css"  href="{% static "index/css/test1.css"%}">
    <link rel="stylesheet" type="text/css"  href="{% static "index/css/bootstrap.min.css"%}">
    <script src="{% static "index/js/bootstrap.min.js"%} "></script>
    <script src="{% static "index/js/jquery-3.2.1.min.js"%}"></script>
  </head>
  <body>
    <div class="main4" style="height: 30px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>
    {% for user in commands%}
    <div class="row" style="padding-top:30px;">
      <div class="col-md-4">
        <div class="avatar">
    			<img src="{{user.avatar.url}}">
    		</div>
      </div>
      <div class="col-md-7">
        {{user.user.first_name}}
      </div>
    </div>
    <br>
    {%endfor%}
  </body>
</html>
