{% extends "index.html" %}

{% block body %}

    <div class="main4" style="height: 30px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>
    <div class="row">
      {% for user in commands%}
      <div class="row" style="padding-top:30px; padding-left:30px;">

        <div class="col-md-3" >
      			<img src="{{user.avatar.url}}" height="300">
        </div>
        <div class="col-md-6">
          <div class="row" style="padding-top:10px;">
        			<b> {{user.user.first_name}} {{user.user.last_name}}</b> - {{user.paper_title}}
          </div>
          <div class="row">
            {{user.paper_short_description}}
          </div>
        </div>
      </div>
      <hr>
      {%endfor%}
    </div>


{% endblock %}
