{% extends "index.html" %}

{% block body %}
<div class="container-fluid">
    <div class="main4" style="height: 30px; margin-bottom:40px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>

    {% for user in commands%}
      <div class="row" style="padding-top:30px; padding-left:30px;">

        <div class="col-md-3">
      			<img src="{{user.avatar.url}}" height="300">
        </div>

        <div class="col-md-6">
        			<b> {{user.user.first_name}} {{user.user.last_name}}</b> - {{user.paper_title}}
            {{user.paper_short_description}}
        </div>

      </div>
      <hr>
    {%endfor%}
</div>

{% endblock %}
