{% extends "index.html" %}
{% block header %}
{%load static%}
{% endblock %}

{% block title %}
<title>КОНКУРС</title>
{% endblock %}

{% block body %}
    <div class="main4" style="height: 30px; margin-bottom:40px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Летний конкурс</h1>
        <p> Гимназия №1534 совместно с НИЦ "Курчатовский Институт" объявляет конкурс
          <!-- https://www.iucr.org/outreach/crystal-growing-competition-2017 -->
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container" style="margin-bottom:30px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Описание</h2>
          <p>
            Лучшие работы примут участие в международном конкурсе
             (<a href="https://www.iucr.org/outreach/crystal-growing-competition-2017"> ссылка</a>)
          </p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="/media/growh_compet_2017/How to Grow a Single Crystal - with Johanna.mp4"></iframe>
          </div>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>
    </div>

{% endblock %}
