{% extends "index.html" %}
{% block header %}
{%load static%}
{% endblock %}

{% block title %}
<title>КОНКУРС</title>
{% endblock %}

{% block body %}
    <div class="main4" style="height: 30px; margin-bottom:40px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="col-md-7 col-sm-12">
          <h1>Летний конкурс</h1>
          <p> Для тех, чьи руки не знают скуки, и кто хочет на летних каникулах
            совместить интересное с полезным, Гимназия №1534 и "Курчатовский проект" объявляют КОНКУРС!

            <!-- https://www.iucr.org/outreach/crystal-growing-competition-2017 -->
          </p>
        </div>
        <div class="col-md-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/media/growh_compet_2017/How to Grow a Single Crystal - with Johanna.mp4"></iframe>
          </div>

        </div>

      </div>
    </div>

    <div class="container" style="margin-bottom:30px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7 col-sm-12" style="text-align: justify;">
          <h2>Описание</h2>
          <p>
            Если Вы уже сегодня порой крепко задумываетесь о своем великом научном
            будущем и не хотите попусту тратить ни минуты своей жизни, мы предлагаем
            Вам принять участие в Crystal growing challenge!!! За летние каникулы
             вырастите сами кристалл и создайте красочный, креативный и интересный
              ролик о том, как вы это делали. Мы верим, что Ваши видеоролики будут
              современными, будьте смелей в своих задумках, украсьте Ваш ролик
              спецэффектами, как в голливудских фильмах, или же поразите всех
              созданным анимированным мультиком о вашей ростовой установке!
              Но при этом конечно же не забывайте и о научной составляющей - ролик
              должен быть познавательным и отражать результаты вашего эксперимента!
            </p>
            <p>
              Также помимо ролика подготовьте краткий научный отчет,
               в котором пофантазируйте на следующие темы:
            <ul>
              <li>Что заставляет атомы в кристаллах выстраиваться в строгом
                порядке, а не как попало?</li>
              <li>Почему кристаллы получаются разной (куб, октаэдр, призма),
                но всегда правильной формы?</li>
               <li>В чем, по-вашему, важность кристаллических
                 материалов в современном мире?</li>
               <li>Вообразите, что может измениться в мире с развитием технологий
                 получения кристаллических материалов, с помощью которых мы сможем
                 создать материал с любым свойством? Какое свойство Вы бы выбрали
                 и для чего бы его использовали?</li>

            </ul>

          </p>
          <p class="lead">
            Все участники нашего конкурса будут отмечены сертификатами, в
            победители - еще и памятными призами и получат
            возможность принять участие в международном конкурсе "Как вырастить кристалл?"
          </p>

          <hr>
          <p>
            <h4>Вот некоторые примеры, которые обязательно помогут Вам начать:</h4>

            <dl>
              <dt><u>Кристаллы из хлорида калия</u></dt>
              <dd>Кубический кристалл соли<br>
                <a href="https://www.youtube.com/watch?v=fiiIaCD_miQ">ССЫЛКА</a></dd>
            </dl>
            <dl>
              <dt><u>Кристаллы из алюмокалиевых квасцов</u></dt>
              <dd>Возможно вам удастся вырастить такой же прозрачный кристалл,
                но необязательно из алюмокалиевых квасцов <br>
                <a href="https://www.youtube.com/watch?v=JDBmWftE7gA">ССЫЛКА</a></dd>
            </dl>
            <dl>
              <dt><u>Кристалл в кристалле</u></dt>
              <dd>Авторы этого видео сообщают "Центральным кристаллом у нас будет смесь
                 алюмокалиевых и хромокалиевых квасцов. Верхний слой состоит
                 только из алюмокалиевых. Очень не многие вещества имеют способность
                 нарастать друг на друга сохраняя форму" <br>
                <a href="https://www.youtube.com/watch?v=NLhnoIJ5aPk">ССЫЛКА</a></dd>
            </dl>
          </p>
          <hr>
          <p>
            <h3>Лучшие работы примут участие в международном конкурсе, который организован
            Международным Кристаллографическим  союзом:</h3>
            <br>
             <a href="https://www.iucr.org/outreach/crystal-growing-competition-2017"> ССЫЛКА</a>
          </p>
          <p>
            Вы можете ознакомиться с победителями прошлых лет и убедиться в том,
             что выиграть возможно:
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2016-winners"> 2016 год</a>
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2015-winners"> 2015 год</a>
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2014-winners"> 2014 год</a>
          </p>


          <!-- <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/media/growh_compet_2017/How to Grow a Single Crystal - with Johanna.mp4"></iframe>
          </div> -->
          <!-- https://www.youtube.com/watch?v=NLhnoIJ5aPk -->
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        {%if get%}
        <div class="col-md-5 col-sm-12" style="text-align: justify;">
          {%if post == 0 %}
          <div class="row" style="margin-bottom:50px;">
            <div class="alert alert-danger" role="alert">
            Неудача, проверьте правильность почтового адреса
          </div>

          </div>
           {%endif%}
          <h2>Принять участие</h2>
          <p> Для того, чтобы принять участие Вам необходимо заполнить
          форму, после чего Вам придет письмо с подтверждением об участии.
          Видео Вам необходимо
         <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform%3DDesktop&hl=ru">
           добавить на YouTube</a>, а ссылку на видео поместить в поле "Ссылка". Желаем Удачи!  </p>
          <form action="/compet/" method="post" class="form-horizontal" style="margin-top:40px; margin-bottom:20px;">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputlastname" class="col-sm-2 control-label">Фамилия</label>
              <div class="col-sm-10">
                <input type="text" name = "inputlastname" class="form-control" id="inputlastname" placeholder="Петров">
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">Имя</label>
              <div class="col-sm-10">
                <input type="text" name = "inputname" class="form-control" id="inputname" placeholder="Владимир">
              </div>
            </div>
            <div class="form-group">
              <label for="inputmidlename" class="col-sm-2 control-label">Отчество</label>
              <div class="col-sm-10">
                <input type="text" name = "inputmidlename"  class="form-control" id="inputmidlename" placeholder="Владимирович">
              </div>
            </div>
            <div class="form-group">
              <label for="inputyear" class="col-sm-2 control-label">Класс</label>
              <div class="col-sm-10">
                <input type="text" name = "inputyear" class="form-control" id="inputyear" placeholder="10А">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name = "inputEmail"  class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputreport" class="col-sm-2 control-label">Научный отчет</label>
              <div class="col-sm-10">
                <textarea rows="18" name = "inputreport" placeholder="" id="inputreport" class="form-control">
                </textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="inputlink" class="col-sm-2 control-label">Ссылка</label>
              <div class="col-sm-10">
                <input type="text" name = "inputlink" class="form-control" id="inputlink" placeholder="https://www.youtube.com/watch?v=NLhnoIJ5aPk">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger">Принять участие</button>
              </div>
            </div>
          </form>
          <p>
            Вы также можете отправить свои работы на электронную почту: <a href="mailto:info@scsci.ru?Subject=Конкурс">info@scsci.ru</a>.
            <br>
          Мы будем рады ответить на любые возникшие вопросы:  <a href="mailto:info@scsci.ru?Subject=Вопрос">info@scsci.ru</a>.</p>
       </div>
       {%endif%}
       {%if post == 1 %}
       <div class="col-md-5 col-sm-12" style="text-align: justify;">
         <div class="alert alert-success" role="alert">
         Регистрация прошла успешно. На ваш Email отправлено письмо</div>
       </div>
        {%endif%}

      </div>
    </div>

{% endblock %}
