{% extends "index.html" %}
{% block header %}
{%load static%}
{% endblock %}

{% block title %}
<title>КОНКУРС</title>
{% endblock %}

{% block body %}
    <div class="main4" style="height: 30px; margin-bottom:40px;">
    	<a class="link-home" href="/">&#x2190; scsci.ru</a>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="col-md-7 col-sm-12">
          <h1>Летний конкурс</h1>
          <p> Гимназия №1534 совместно с НИЦ "Курчатовский Институт" объявляет конкурс
            <!-- https://www.iucr.org/outreach/crystal-growing-competition-2017 -->
          </p>
        </div>
        <div class="col-md-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/media/growh_compet_2017/How to Grow a Single Crystal - with Johanna.mp4"></iframe>
          </div>

        </div>

      </div>
    </div>

    <div class="container" style="margin-bottom:30px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7 col-sm-12" style="text-align: justify;">
          <h2>Описание</h2>
          <p>
            Мы желаем Вам провести летние каникулы с удовольствием, но
            некоторые из Вас думают о будущем уже сегодня и желают провести
            часть времени с пользой. Ваша задача выростить кристалл и снять
            про это видеоролик. Основное требование - видеоролик должен быть
            современным, вы можете использовать специальные эффекты, как
            в голивудских фильма, или даже нарисовать мультфильм. Также не забывайте
            о том, что вы снимаете научный фильм. Постарайтесь раскрыть механизмы
            роста, провидите анализ влияния внешних факторов
            (температура, влажность и тд.) на процессы формирования кристалла.
            Возможно Вам удасться раскрыть секрет формы, которая получается
            правильной (куб, октаэдр, призма), но отличной для разных кристаллов.
            Раскройте значимость кристаллических материаллов в современном
            мире, зачем они необходимы нам?! И последнее, порассуждайте
            на грани фантастики, что может измениться в мире с развитием
            технологий получения кристаллических материаллов.
          </p>
          <p class="lead">
            Победители будут отмечены материальными призами, оценками, памятными значками, сертификатами
            и примут участие в международном конкурсе.
          </p>

          <hr>
          <p>
            <h4>Вот некоторые примеры, которые обязательно помогут Вам начать:</h4>

            <dl>
              <dt><u>Кристаллы из хлорида калия</u></dt>
              <dd>Кубический кристалл соли<br>
                <a href="https://www.youtube.com/watch?v=fiiIaCD_miQ">ССЫЛКА</a></dd>
            </dl>
            <dl>
              <dt><u>Кристаллы из алюмокалиевых квасцов</u></dt>
              <dd>Возможно вам удасться вырастить такой же прозрачный кристалл,
                но необязательно из алюмокалиевых квасцов <br>
                <a href="https://www.youtube.com/watch?v=JDBmWftE7gA">ССЫЛКА</a></dd>
            </dl>
            <dl>
              <dt><u>Кристалл в кристалле</u></dt>
              <dd>Авторы этого видео сообщают "Центральным кристаллом у нас будет смесь
                 алюмокалиевых и хромокалиевых квасцов. Верхний слой состоит
                 только из алюмокалиевых. Очень не многие вещества имеют способность
                 нарастать друг на друга сохраняя форму" <br>
                <a href="https://www.youtube.com/watch?v=NLhnoIJ5aPk">ССЫЛКА</a></dd>
            </dl>
          </p>
          <hr>
          <p>
            <h3>Лучшие работы примут участие в международном конкурсе, который организован
            Международным Кристаллографичским союзом:</h3>
            <br>
             <a href="https://www.iucr.org/outreach/crystal-growing-competition-2017"> ССЫЛКА</a>
          </p>
          <p>
            Вы можете ознакомиться с победителями прошлых лет и убедиться в том,
             что выйграть возможно:
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2016-winners"> 2016 год</a>
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2015-winners"> 2015 год</a>
             <br>
             <a href="https://www.iycr2014.org/participate/competition-winners/2014-winners"> 2014 год</a>
          </p>


          <!-- <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/media/growh_compet_2017/How to Grow a Single Crystal - with Johanna.mp4"></iframe>
          </div> -->
          <!-- https://www.youtube.com/watch?v=NLhnoIJ5aPk -->
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-5 col-sm-12">
          <h2>Принять участие</h2>
          <p> Для того, чтобы принять участие Вам необходимо заполнить
          форму, после чего Вам придет письмо с подтверждением об участии.
          В поле "Аннотация" необходимо оставить описание Вашего фильма,
         также Ваши мысли, идеи и рассуждения о которых Вы хотели бы нам сообщить
         (см. описание конкурса). Видео Вам необходимо
         <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform%3DDesktop&hl=ru">
           добавитьна YouTube</a>, а ссылку на видео поместить в поле "Ссылка". Желаем Удачи!  </p>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputlastname" class="col-sm-2 control-label">Фамилия</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputlastname" placeholder="Петров">
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">Имя</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputname" placeholder="Владимир">
              </div>
            </div>
            <div class="form-group">
              <label for="inputmidlename" class="col-sm-2 control-label">Отчество</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputmidlename" placeholder="Владимирович">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputannotation" class="col-sm-2 control-label">Аннотация</label>
              <div class="col-sm-10">
                <textarea rows="3"
                placeholder="" id="inputannotation" class="form-control">
                </textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="inputmidlename" class="col-sm-2 control-label">Ссылка</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputmidlename" placeholder="https://www.youtube.com/watch?v=NLhnoIJ5aPk">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Принять участие</button>
              </div>
            </div>
          </form>
          <p>
            Вы также можете отправить свои работы на электронную почту: <a href="mailto:info@scsci.ru?Subject=Конкурс">info@scsci.ru</a>.
            <br>
          Также мы будем рады ответить Вам на любые вопросы:  <a href="mailto:info@scsci.ru?Subject=Вопрос">info@scsci.ru</a></p>
       </div>
      </div>
    </div>

{% endblock %}
