<html>
<head>
{% block header %}
{%load static%}
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block title %}
<title>[школа науки]</title>
{% endblock %}
<link rel="icon" href="{% static "index/img/icon.png"%}">
<link rel="stylesheet" type="text/css"  href="{% static "index/css/test1.css"%}">
<link rel="stylesheet" type="text/css"  href="{% static "bootstrap/css/bootstrap.css"%}">

<script src="{% static "bootstrap/js/jquery-3.2.1.min.js"%}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js"%} "></script>
<script src="{% static "bootstrap/js/carousel.js"%} "></script>


</head>
<body>
  {% block body %}
  <div class="main4" style="height: 5px;">
  </div>
  <div class="main1">
    <div>
      <video class="video" id="header_video" loop autoplay >
        <source src="{% static "index/video/test12.mp4"%} ">
      </video>
      <div class="onvideo">
        <div class="maintext1">
          SCSCI.RU
        </div>
        <div class="maintext2 hidden-sm">
          Наблюдай явления с нами
        </div>
        <div class="small hidden-sm">
        </div>
        <div class="maintext3 hidden-sm">
          Сайт находится на стадии тестирования
        </div>
      </div>
      <div class="onvideobut hidden-sm" id = "mute_id">
        <img src="{% static "index/img/mute.png"%}">
      </div>
    </div>
  </div>
  <div class="menu">
      &#9679; <a href="#" >календарь</a>  &#9679;
      <a href="/about/">о нас</a> &#9679;
      лента &#9679; статьи &#9679;
  </div>

      <div class="row" style="padding-top:20px; padding-bottom:40px;">
        <div class="col-md-5" style="text-align:center;">
          <div class="boot">
            {% if sos_message %}
              <div style="text-align: center; margin-left:30px;margin-right:30px; text-transform: uppercase;"  class="alert alert-danger">{% autoescape off %}{{sos_message}}{% endautoescape %}</div>
            {% endif %}
              <div class="row">
                <h3>ГЛАВНОЕ</h3>
                <div class="bl1" style="margin-left: 40%;"></div>
              </div>
              <div class="row">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin:30px;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      {%for caro in carousel.photos.all|slice:":3"%}
                        {% if forloop.first %}
                          <div class="item active">
                            <img src="{{ caro.picture.url}}" alt="{{ caro.head }}">
                            <div class="carousel-caption glass-mate">
                              <h3 style="font-size:13px;">{{ caro.head }}</h3>
                              <p style="font-size:10px;">{{ caro.short_description }}</p>
                            </div>
                          </div>
                        {% else %}
                          <div class="item">
                            <img src="{{ caro.picture.url}}" alt="{{ caro.head }}">
                            <div class="carousel-caption glass-mate">
                              <h3 style="font-size:13px;">{{ caro.head }}</h3>
                              <p style="font-size:10px;">{{ caro.short_description }}</p>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
              </div>
              <div class="row workyou" style="text-align:center;">
                {{carousel.text}}
              </div>
          </div>
        </div>

        <div class="col-md-5">

            <div class="row" style="text-align:center; margin-top:20px;">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViYmJjYmFkNmEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWJiYmNiYWQ2YSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NTQ2ODc1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViYmJjYmFkNmEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWJiYmNiYWQ2YSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NTQ2ODc1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViYmJjYmFkNmEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWJiYmNiYWQ2YSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NTQ2ODc1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViYmJjYmFkNmEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWJiYmNiYWQ2YSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NTQ2ODc1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                </a>
              </div>
            </div>

        </div>
      </div>




  <div id="about" class="main2">
  В настоящее время в научных исследованиях во всем мире занято около 0.1 % людей. Они
  вылечили много болезней, сделали передвижение быстрым, а связь между людьми
  мгновенной. Эти люди собрали нас здесь, создав интернет и компьютеры. Этого достаточно,
  всего нам не счесть. Этим важным делом занималось бы больше людей, если у каждого
  была возможность начать как можно раньше исследовать законы природы. У этих молодых
  людей это возможность есть.
  <div class="but">
  <table>
  <tbody>
  <tr>
  <td>
  <div class="button">
  <a href="/about/">О НАС</a>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  <div class="sponsor">
  <h2>ПРИ ПОДДЕРЖКЕ</h2>
  <table>
  <tbody>
  <tr>
  <td>
  <div class="spontext">
  <div class="img1">
  <img src="{% static "index/img/kif.png"%}">
  </div>
  <div class="text">
  Федеральный научно
  исследовательский
  центр
  «Кристаллография и
  фотоника»
  </div>
  </div>
  </td>
  <td>
  <div class="spontext">
  <div class="img2">
  <img src="{% static "index/img/1534.png"%}">
  </div>
  <div class="text2">
  ГБОУ Гимназия<br>
  № 1534
  </div>
  </div>
  </td>
  <td>
  <div class="spontext">
  <div class="img3">
  <img src="{% static "index/img/Kurchatov.png"%}">
  </div>
  <div class="text">
  Национальный
  исследовательский
  центр «Курчатовский
  институт»
  </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  <div class="main4">
  <table>
  <tbody>
  <tr>
  <td>
  <div class="text">
  ПРИНЯТЬ УЧАСТИЕ В ПРОЕКТЕ
  </div>
  <div class="but">
  <button location.href="mailto:info@scsci.ru?Subject=Принять участие"><img src="{% static "index/img/but.png"%}"></button>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
  </div>

    {% endblock %}
  <div class="main5">
  <div class="we">
  <div class="info5">
  <div class="text1">с 2017 года</div>
  <div class="text2">сегодня в нашей команде {{commands_len}} человек</div>
  <div class="text3">веб-сайт подготовлен <span style="color: #ef0d33;">Алексеем</span> – 9 класс</div>
  </div>
  <div class="info6">
  <div>
  <h3>ПОДПИСАТЬСЯ</h3>
  <div class="img">

    <a href="https://vk.com/scsci"> <img class="vk" src="{% static "index/img/vk.png"%}"></a>


  <img class="youtube" src="{% static "index/img/youtube.png"%}">

  <img class="insta" src="{% static "index/img/insta.png"%}">
  </div>
  </div>
  </div>
  </div>
  <div class="contact">
  <h3>СВЯЗАТЬСЯ С НАМИ</h3>
  <table>
  <tbody>
  <!-- <tr>
  <td style="padding-right: 55px;">
  <img src="logo/tele.png">
  </td>
  <td>+7(915)132-24-37</td>
  </tr> -->
  <tr>
  <td style="padding-right: 55px;">
  <img src="{% static "index/img/mail.png"%}">
  </td>
  <td>info@scsci.ru</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  <script type="text/javascript">
    $("#mute_id").click( function (){
       $("#header_video").prop('muted', !$("#header_video").prop('muted'));
    });
    $("#header_video").prop('muted', !$("#header_video").prop('muted'));
  </script>
</body>
</html>
